body{padding:0;margin:0;font-family:'Quicksand',sans-serif;letter-spacing:.05rem}.container{max-height:100vh;max-width:100vw}a{text-decoration:none;color:#d2d8e0;transition:color .3s ease-in-out}a:hover{color:#4f90ff}
/* This beautiful CSS-File has been crafted with LESS (lesscss.org) and compiled by simpLESS (wearekiss.com/simpless) */
